- content_for :body do
  = render partial: 'shared/header'
  #page_content.container
    .row#flash_content
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
    .row
      = yield
  = render partial: 'shared/footer'

= render template: 'layouts/application'